table {
    background-color: #FFFFCC; 
    text-align: center;
    width: 94%;
    margin: 2%;
    border: 1pt solid #010169;
}

caption {
    font-size: 120%;
    font-weight: bold;
}

thead, tfoot {
    background-color: #010169;
    color: #FFFFFF;
    font-size: 110%;
    padding: 5pt;
}

td, th {
    border: 1pt solid #010169;
}

tfoot a {
    color: #FFFFFF; 
}

*.parzysty { 
    background:#FFFFFF; 
}
